{% extends 'blog_app/base.html' %}
{% load staticfiles %}
+
{% block content %}
    <div class="about-me">
    <div class="container about-me">
    <h1>ABOUT ME</h1>
    </div>
    <div class="row about-row">
        <div class="col-xs-5 col-sm-4">
            <img src="{% static 'images/me.jpg' %}" alt="Me">
        </div>
        <div class="col-xs-7 col-sm-8">
            Hey :) my name is Cornelia, i am 22 years old and i live in Vienna together with my husband and our 3 year old.
            Around a month ago I started to inform myself more and more about animal agriculture and what i found left me
            speechless..... I barely could believe what i saw and heard. It felt like i have spent my whole life living in
            a altered reality. I believed in animal welfare and that the organic free range eggs I bought where fine.
            That baby cows spend their days together with mommy on a meadow. At this point our family already lived a vegetarian lifestyle.
            Believing that eggs and milk don't cause any harm to animals. After watching multiple documentaries I realised that I
            was sold a lie, the lie of happy cows and free chickens.....
            Since all of this doesn't go d'acore with everything I believe in (Live and let live ) I knew i had to change something.

            Relatively fast I realised contrary to what i heard so far, cooking vegan food actually was not a hard task for me.
            After around a week I decieded to choin a group that offferd support ( moraly as well as with information) during a 22 day vegan challenge.
            There saw that a lot of people struggeld espacialy the firsts days with what to cook. That gave me inspiration for this blog.
            And that is also what I want to use it for. To give people a little help as well as inspiration.

    </div>
     <div class="row about-row">
        <div class="col-xs-6 col-sm-8">
             Regularly you will find new recipes and new posts about how we are doing. This 22 Day challenge is now over soon,
            but we decided to keep up what we are doing at the moment because all the three main reasons why someone would become
            vegan (Ethics, Environment and Health) convinced us. If you have any questions, critic or suggestions please just let me know.
            This blog also isn't one i use from some provider but I constructed it completely from scratch, so if something shouldn't work
            please let me know as well.


        </div>
        <div class="col-xs-6 col-sm-4">

        </div>
    </div>
</div>
    </div>

{% endblock %}