{% extends 'blog_app/base.html' %}
{% load staticfiles %}
+
{% block content %}
    <div class="about-me">
    <div class="jumbotron documentaries">
    <h1>Here can you find some more information about veganism</h1>
    </div>
    <div class="container">

                <h4 class="headline">When you care about the ethical aspects of being vegan than these documentaries might be for you!</h4>


                    <div class="container container-documentaries">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 row1">
                            <iframe width="430" height="200" src="https://www.youtube.com/embed/LnpsEAHAEnY"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                                     picture-in-picture" allowfullscreen>

                            </iframe>
                        </div>
                        <div class="col-xs-6 col-sm-7 row1">
                            <h3>Dominion</h3>
                            <p class="text-trailer"> This is a really interessting but also hard to watch documentary about the standard
                                practices in dairy meat textile as well as entertainment industries. I wouldn't recomend
                                it for people who can't watch animals beeing misterated and killed ..... i cried so much
                                watching it &#128557. I probably wouldn't have been able to watch it without holding on
                                to my boyfriend. This documentary really left me speechless about the cruelty displayed
                                in it .... how can we let this happen?
                                <a href="https://www.youtube.com/watch?v=LQRAfJyEsko&t=18s">Here can you find the full documentary</a>
                            </p>
                        </div>
                    </div>
                    </div>

                <h4 class="headline">When you care about the environmental aspects of being vegan than these documentaries might be for you!</h4>

                        <div class="container container-documentaries">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 row1">
                            <iframe width="430" height="200" src="https://www.youtube.com/embed/nV04zyfLyN4"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                                     picture-in-picture" allowfullscreen>
                            </iframe>
                        </div>
                        <div class="col-xs-6 col-sm-7 row1">
                            <h3>Cowspiracy</h3>
                            <p class="text-trailer"> This was one of the first documentaries i watch about veganism, it
                                talks about so many things we might not even think about.
                                Here are some statements from the documentary:
                                <ul class="text-trailer">
                                    <li>Animal agriculture is responsible for 18 percent of greenhouse gas emissions,
                                        more than the combined exhaust from all transportation.</li>
                                    <li>90-100 million tons of fish are pulled from our oceans each year.</li>
                                    <li>The leading causes of rainforest destruction are livestock and feedcrops.</li>
                        </ul>
                            If you are curious now
                                <a href="https://www.dailymotion.com/video/x2zuhks">Here can you find the full documentary</a>
                            or on netflix.
                            </p>
                        </div>
                    </div>
                 <h4 class="headline">When you care about the health aspects of being vegan than these documentaries might be for you!</h4>

                        <div class="container container-documentaries">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 row1">
                            <iframe width="430" height="200" src="https://www.youtube.com/embed/iSpglxHTJVM"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                                     picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-xs-6 col-sm-7 row1">
                            <h3>The Game Changers</h3>
                            <p class="text-trailer"> If you wonder now about how to get all the nutrience you need from
                                a plant based diet and if it is suitable for a very active lifstyle then i would
                                recomand you watching this documentary. It showes you how popular athletes think about
                                their change to a vegan diet and how it influenced their health and their performance.
                                You can watch the full documentary on netflix or amazon prime.
                            </p>
                        </div>
                    </div>
                        </div>

                     <div class="container container-documentaries">
                    <div class="row">
                        <div class="col-xs-6 col-sm-5 row1">
                            <iframe width="430" height="200" src="https://www.youtube.com/embed/Jf44vLndiRM"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
                                     picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-xs-6 col-sm-7 row1">
                            <h3>What the health</h3>
                            <p class="text-trailer"> Like lots of people you might think that living of a plant based
                                diet might not give you all the nutrients you need. If that is what you are worried
                                about then i really recomand you watching this documentary. Its quite informative and
                                packed with interesting information. You can find it on Netflix
                                <a href="https://vimeo.com/225674129">or right here </a>
                            </p>
                        </div>
                    </div>
                        </div>





        </div>
    </div>

</div>

{% endblock %}